/**
 * Import base style
 */
@import "../../base.less";
 
/**
 * Here comes specific style for a certain test program.
 */
  
#title{
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    font-size:x-large;
    text-shadow: 0px 2px 3px #666;
}  

#fiarimg{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border:1px solid black;
    .border-radius(10px);
    background-color:SaddleBrown;
    padding:1em;
}

#github{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border:1px solid black;
    .border-radius(10px);
    background-color:orange;
    padding:1em;
}

#tothegame{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border:1px solid black;
    .border-radius(10px);
    background-color:lightgray;
    padding:1em;
}


  
#compare{
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
    border:1px solid black;
    .border-radius(10px);
    background-color:lightblue;
    padding:1em;
}

#productinfo{
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
    border:1px solid black;
    .border-radius(10px);
    background-color:lightgreen;
    padding:1em;
}
  
.invitearea{
    margin-left:auto;
    margin-right:auto;
    min-width:300px;
    max-width:300px;
    min-height:100px;
    max-height:100px;
    border:1px solid black;
    .border-radius(10px);
    position: absolute;left: 350px;top: 200px;
    background-color:green;
}

#gametitle{margin:2em auto;position: absolute;left:550px;top:10px;color:green;}
#gamerules{margin:2em auto;position: absolute;left:350px;top:30px;}

#playVsOtherPlayer{margin:2em auto;background-color:fadeout(@green,5%);max-height:50px;max-width:500px;border:1px solid @greyLight;padding:1em;
.border-radius(10px);.box-shadow();position: absolute;left: 350px;top: 200px;}
 
#canvas{
    border-style: solid;
    border-width: 2px;
}
 
#connectedinfo{font-size:x-small;color:white;}
 
#lightbox_overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black;
}